{% load humanize %}

   <!--Dashboard top-->  
    <section class="section-padding-sm-2 blue-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-20">
                    <div class="card">
                        <div class="card-header">
                            <img src="{{user.avatar}}" alt=""> Profile <a href="profile.html"><i class="ti-arrow-top-right"></i></a>
                        </div>
                        <div class="card-body">
                            <p>Good Day! <strong>{{user.get_full_name | upper}}</strong></p>
                            
                            {% if user.is_agent  %}
                                <p>AGENT ID: <strong>{{user.user_id}}</strong> <br>Last login: <strong>{{user.last_login}}</strong></p>
                            {% else %}
                                <p>Customer id: <strong>{{user.account.account_id}}</strong> <br>Last login: <strong>{{user.last_login}}</strong></p>
                            {% endif %}
                                
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-20">
                    <div class="card">
                        <div class="card-header">
                            Balance
                        </div>
                        
                        {% if user.is_agent %}
                            <div class="card-body">
                                <p>NG Naira: <br><strong><span style="font-size: 30px;">N{{agent_total_amount | intcomma}}.00</span></strong></p>
                                <p>{{amount_words | title}} Naira Only</p>
                            </div>
                        {% else %}
                            <div class="card-body">
                                <p>NG Naira: <br><strong><span style="font-size: 30px;">N{{user.account.account_balance | intcomma}}</span></strong></p>
                                <p>{{amount_words | title}} Naira Only</p>
                            </div>
                        {% endif %}
                            
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-20">
                    <div class="card">
                        <div class="card-header">
                            Bank account
                        </div>
                        <ul class="list-group list-group-flush site-form">
                            <li class="list-group-item"><i class="ti-check cl-primary"></i>Daily Contribution Bank</li>
                            
                            {% if user.is_agent  %}
                                <form action="{% url 'clients' %}" method="get">
                                    <li class="list-group-item">
                                        
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="ti-search"></i></div>
                                            <input type="text" name="q" class="form-control" id="autoSizingInputGroup" placeholder="Search Client">
                                            
                                        </div>
                                    </li>
                                </form>
                            {% endif %}
                            {% include 'message.html' %}
                                
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </section><!--Dashboard top-->  
