{% extends 'nav.html' %}
{% load static %}
{% load humanize %}



{% block content %}




 {% include 'account/includes/details.html' %}

    <!--Dashboard Bottom-->  
    <section class="section-padding-sm-2 blue-bg-2">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-xl-9 col-lg-9 col-md-12 mb-20">
                    <div class="transaction-list table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Account Number</th>
                                <th scope="col">Balance</th>
                                <th scope="col">Account ID</th>
                            </tr>
                            </thead>
                            <tbody>
                                
                                {% for client in page_obj %}
                                    
                                    {% if client.user == user %}
                                        
                                    {% else %}
                                        <tr data-toggle="modal" data-target="#exampleModalCenter"
                                        hx-get="{% url 'client_detail' client.id %}"
                                        hx-trigger="click"
                                        hx-target="#client_id"
                                        >
                                            <td><span>{{forloop.counter}}</span></td>
                                            <td><strong>{{client.user.get_full_name | upper}}</strong> </td>
                                            <td><strong>{{client.account_number}}</strong></td>
                                            <td><strong>N{{client.account_balance | intcomma}}</strong></td>
                                                
                                                
                                                    
                                            <td><strong class="cl-primary">{{client.account_id}}</strong></td>
                                        </tr>
                                    {% endif %}
                                        
                                {% endfor %}
                                    
                        
                            </tbody>
                        </table>
                        <div class="mt-20">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                                        </li>
                                    {% endif %}

                                    
                                    {% for page in page_obj.paginator.page_range %}
                                    <li class="page-item 
                                    {% if page_obj.number == page %}
                                        active
                                    {% endif %}
                                        "><a class="page-link" href="{% url 'transactions' %}?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                                        
                                    {% endfor %}
                                        
                                    {% comment %} <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li> {% endcomment %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        <!-- Transaction Details Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content" id="client_id">
                                
                            </div>
                        </div><!-- /Transaction Details Modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Dashboard Bottom-->

   
{% endblock %}