{% extends 'nav.html' %}
{% load static %}
{% load humanize %}



{% block content %}




 


    
{% if user.is_agent %}
{% include 'account/includes/details.html' %}

            <!--Dashboard Bottom-->  
            <section class="section-padding-sm-2 blue-bg-2">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-20">
                            
                           
                            <div class="card mb-30">
                                <div class="card-header">
                                    Someone to pay?
                                </div>
                                <div class="card-body">
                                    <p>Add client money</p>
                                    <a href="{% url 'deposit' %}" class="bttn-small btn-fill"><i class="ti-user"></i> Make a payment</a>
                                </div>
                            </div>
                           


                            {% comment %} <div class="card mb-30">
                                <div class="card-header">
                                    Earn $25 to invite
                                </div>
                                <div class="card-body">
                                    <p>Boluptate quis optio, quibusdam quo unde cum dolores tempora veniam eius, voluptatum illum</p>
                                    <a href="" class="bttn-small btn-fill"><i class="ti-arrow-down"></i> refer a friend</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    Receive a payment?
                                </div>
                                <div class="card-body">
                                    <p>Boluptate quis optio, quibusdam quo unde cum dolores tempora veniam eius, voluptatum illum</p>
                                    <a href="" class="bttn-small btn-fill"><i class="ti-direction"></i> Receive payment</a>
                                </div>
                            </div> {% endcomment %}
                        </div>
                        

                            <div class="col-xl-9 col-lg-9 col-md-12 mb-20">
                                <div class="transaction-list table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Receiver - Type</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Trans. Type</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for transaction in agent_transaction %}
                                                <tr data-toggle="modal" data-target="#exampleModalCenter"
                                                hx-get="{% url 'transaction_detail' transaction.id %}"
                                                hx-trigger="click"
                                                hx-target="#trans_id"
                                                >
                                                    <td><span>{{transaction.created | date:"d M, Y"}}</span></td>
                                                    <td><strong>{{transaction.receiver.get_full_name}}</strong> <span>- {{transaction.transaction_type}}</span></td>
                                                    <td><strong>N{{transaction.amount | intcomma}}</strong></td>
                                                        
                                                        {% if transaction.transaction_status == 'Success' %}
                                                            <td class="cl-primary"><i class="ti-check cl-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Finished"></i> Success</td>

                                                        {% elif transaction.transaction_status == 'Approved' %}
                                                            <td><i class="ti-cup cl-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Finished"></i> Approved</td>

                                                        {% elif transaction.transaction_status == 'Cancelled' %}
                                                            <td class="cl-red"><i class="ti-close cl-red" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancelled"></i> Cancelled</td>
                                                            
                                                        {% else %}
                                                            <td class="cl-yellow"><i class="ti-flag-alt cl-yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Processing"></i> Pending </td>
                                                        {% endif %}
                                                            
                                                    <td><strong class="cl-primary">{{transaction.transaction_type}}</strong></td>
                                                </tr>
                                            {% endfor %}
                                                
                                    
                                        </tbody>
                                    </table>
                                    <div class="centered mt-30">
                                        <a href="{% url 'transactions' %}" class="bttn-mid btn-fill">All Transactions</a>
                                    </div>
                                    <!-- Transaction Details Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                            <div class="modal-content" id="trans_id">
                                                
                                            </div>
                                        </div><!-- /Transaction Details Modal -->
                                    </div>
                                </div>
                            </div>


                        
                    </div>
                </div>
            </section><!--Dashboard Bottom-->
    {% else %}
        
        {% if user.account.set_amount %}
        {% include 'account/includes/details.html' %}
            <!--Dashboard Bottom-->  
            <section class="section-padding-sm-2 blue-bg-2">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-20">
                            
                            
                                <div class="card mb-30">
                                    <div class="card-header">
                                        Pay Me?
                                    </div>
                                    <div class="card-body">
                                        <p>Widthdraw from my Account</p>
                                        <a href="{% url 'withdrawal' %}" class="bttn-small btn-fill bg-danger text-white"><i class="ti-user"></i>Widthdraw Money</a>
                                    </div>
                                </div>
                           
                           
                        </div>
                        
                        
                            <div class="col-xl-9 col-lg-9 col-md-12 mb-20">
                                <div class="transaction-list table-responsive">
                                    <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">sender - Type</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Trans. Type</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                
                                                {% for transaction in user_transaction %}
                                                    <tr data-toggle="modal" data-target="#exampleModalCenter"
                                                    hx-get="{% url 'transaction_detail' transaction.id %}"
                                                    hx-trigger="click"
                                                    hx-target="#trans_id"
                                                    >
                                                        <td><span>{{transaction.created | date:"d M, Y"}}</span></td>
                                                        <td><strong>{{transaction.sender.get_full_name}}</strong> <span>- {{transaction.transaction_type}}</span></td>
                                                        <td><strong>N{{transaction.amount | intcomma}}</strong></td>
                                                            
                                                            {% if transaction.transaction_status == 'Success' %}
                                                            <td class="cl-primary"><i class="ti-check cl-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Finished"></i> Success</td>

                                                            {% elif transaction.transaction_status == 'Approved' %}
                                                                <td><i class="ti-cup cl-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Finished"></i> Approved</td>

                                                            {% elif transaction.transaction_status == 'Cancelled' %}
                                                                <td class="cl-red"><i class="ti-close cl-red" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancelled"></i> Cancelled</td>
                                                                
                                                            {% else %}
                                                                <td class="cl-yellow"><i class="ti-flag-alt cl-yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Processing"></i> Pending </td>
                                                            {% endif %}
                                                                
                                                        <td><strong class="cl-primary">{{transaction.transaction_type}}</strong></td>
                                                    </tr>
                                                {% endfor %}
                                                    
                                        
                                            </tbody>
                                        </table>
                                    <div class="centered mt-30">
                                        <a href="{% url 'transactions' %}" class="bttn-mid btn-fill">All Transactions</a>
                                    </div>



                                    <!-- Transaction Details Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                            <div class="modal-content" id="trans_id">
                                                
                                            </div>
                                        </div><!-- /Transaction Details Modal -->
                                    </div>
                                </div>
                            </div>
                        
                            
                    </div>
                </div>
            </section><!--Dashboard Bottom-->
        {% else %}
            <!--newslatter-->
            <section class="section-padding blue-bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="call-to-action centered">
                                <div class="section-title">
                                    <h4><span>Set</span>Your Contributing Amount</h4>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-xl-6 col-lg-6 col-sm-12">
                                        <div class="newslatter">
                                            {% include 'message.html' %}
                                            <form action="" method='post' >
                                                {% csrf_token %}
                                                <input type="text" name="amount" placeholder="Daily Contributing Amount" required>
                                                <button type="submit">Update</button>
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/newslatter-->
        {% endif %}
            
    {% endif %}
        



{% endblock %}