{% extends 'nav.html' %}
{% load static %}
{% load humanize %}



{% block content %}




 {% include 'account/includes/details.html' %}

    <!--Dashboard Bottom-->  
    <section class="section-padding-sm-2 blue-bg-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-9 col-md-12 mb-20">
                    <div class="card">
                        <div class="card-header">
                            Deposit money
                        </div>
                        <div class="card-body">
                            <div class="site-form mb-30">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-sm-12 mb-10">
                                            <label for="deposit-amount">Deposit Amount</label>
                                            <input type="text" id="deposit-amount" value="360" required>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-sm-12 mb-10">
                                            <label for="deposit-currency">Deposit Currency</label>
                                            <select name="currency" class="custom-select" id="deposit-currency">
                                                <option value="">USD</option>
                                                <option value="">AUD</option>
                                                <option value="">GBP</option>
                                                <option value="">CAD</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-sm-12 mb-10">
                                            <label for="paymeny-gateway">Paymeny gateway</label>
                                            <select name="paymeny" class="custom-select" id="paymeny-gateway">
                                                <option value="">Credit Card</option>
                                                <option value="">Padlock Holdings Bank Corp</option>
                                                <option value="">BTC</option>
                                                <option value="">Visa Card</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-sm-12 mb-10">
                                            <label for="fee-generate">Transactions fees</label>
                                            <input type="text" readonly="readonly" value="12" id="fee-generate" required>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-sm-12 mb-10">
                                            <label for="payment-note">Payment Description (Optional)</label>
                                            <textarea name="msg" rows="4" placeholder="Payment note" id="payment-note"></textarea>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-sm-12">
                                            <button type="submit" class="bttn-mid btn-fill">Deposit money</button>
                                            <a href="" class="link ml-4">Preview it</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-20">
                    <div class="card mb-30">
                        <div class="card-header">
                            Someone to pay?
                        </div>
                        <div class="card-body">
                            <p>Boluptate quis optio, quibusdam quo unde cum dolores tempora veniam eius, voluptatum illum</p>
                            <a href="" class="link"><i class="ti-user"></i> Make a payment</a>
                        </div>
                    </div>
                    <div class="card mb-30">
                        <div class="card-header">
                            Earn $25 to invite
                        </div>
                        <div class="card-body">
                            <p>Boluptate quis optio, quibusdam quo unde cum dolores tempora veniam eius, voluptatum illum</p>
                            <a href="" class="link"><i class="ti-arrow-down"></i> refer a friend</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Receive a payment?
                        </div>
                        <div class="card-body">
                            <p>Boluptate quis optio, quibusdam quo unde cum dolores tempora veniam eius, voluptatum illum</p>
                            <a href="" class="link"><i class="ti-direction"></i> Receive payment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Dashboard Bottom-->

    

{% endblock %}