{% extends 'nav.html' %}
{% load static %}
{% load humanize %}



{% block content %}




 {% include 'account/includes/details.html' %}

    <!--Dashboard Bottom-->  
    <section class="section-padding-sm-2 blue-bg-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-9 col-md-12 mb-20">
                    <div class="card">
                        <div class="card-header">
                            Deposit money
                        </div>
                        <div class="card-body">
                            <div class="site-form mb-30">
                                {% include 'message.html' %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-sm-12 mb-10">
                                            <label for="deposit-amount">Phone Number</label>
                                            <input type="text" value="{{phone}}" name="phone" id="deposit-amount" required
                                            hx-get="{% url 'recipient' %}"
                                            hx-trigger="change"
                                            hx-target="#recipient"
                                            >
                                        </div>
                                        
                                        
                                        
                                        <div class="col-xl-6 col-lg-6 col-sm-12 mb-10" id="recipient">
                                            <label for="deposit-currency">Recipient Name</label>
                                            <input type="text" value="{{recipient}}" id="deposit-amount" readonly required>
                                        </div>
                                        
                                        
                                        <div class="col-xl-6 col-lg-6 col-sm-12 mb-10">
                                            <label for="deposit-currency">Deposit Amount</label>
                                            <input type="text" name="amount" id="deposit-amount" required>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-sm-12">
                                            <button type="submit" class="bttn-mid btn-fill">Deposit money</button>
                                            {% comment %} <a href="" class="link ml-4">Preview it</a> {% endcomment %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-20">
                    <div class="card mb-30">
                        <div class="card-header">
                            Someone to pay?
                        </div>
                        <div class="card-body">
                            <p>Boluptate quis optio, quibusdam quo unde cum dolores tempora veniam eius, voluptatum illum</p>
                            <a href="" class="link"><i class="ti-user"></i> Make a payment</a>
                        </div>
                    </div>
                    <div class="card mb-30">
                        <div class="card-header">
                            Earn $25 to invite
                        </div>
                        <div class="card-body">
                            <p>Boluptate quis optio, quibusdam quo unde cum dolores tempora veniam eius, voluptatum illum</p>
                            <a href="" class="link"><i class="ti-arrow-down"></i> refer a friend</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Receive a payment?
                        </div>
                        <div class="card-body">
                            <p>Boluptate quis optio, quibusdam quo unde cum dolores tempora veniam eius, voluptatum illum</p>
                            <a href="" class="link"><i class="ti-direction"></i> Receive payment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Dashboard Bottom-->

    

{% endblock %}