{% extends 'nav.html' %}
{% load static %}
{% load humanize %}



{% block content %}




 

    <!--Dashboard top-->  
    {% include 'account/includes/details.html' %} 


    <!--Dashboard Bottom-->  
    <section class="section-padding-sm-2 blue-bg-2">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-xl-9 col-lg-9 col-md-12 mb-20">
                    <div class="card mb-30">
                        <div class="card-header">
                            Profile/Account Info <a href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit Profile/Account info"><i class="ti-pencil"  data-toggle="modal" data-target="#exampleModalCenter"
                                hx-get="{% url 'edit_profile' user.user_id %}"
                                hx-trigger="click"
                                hx-target="#user_id"
                                ></i></a>
                        </div>
                        <div class="card-body">
                            <div class="profile-card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="thumb text-right">
                                            <img src="{{user.avatar}}" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-3">
                                        <div class="left-info text-right">
                                            <p>Full Name</p>
                                            <p>Account No</p>
                                            <p>Date of Birth</p>
                                            <p>Address</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 col-9">
                                        <div class="right-info">
                                            <p>{{user.get_full_name | title}}</p>
                                            <p>{{account_number}}</p>
                                            <p>{{user.dob | date:"M. d, Y"}}</p>
                                            <p>{{user.address}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    {% if user.is_agent  %}
                        
                    {% else %}
                        <div class="card mb-30">
                            <div class="card-header">
                                Security/Pin Change <a href="{% url 'pin_change' user.user_id %}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit Security info"><i class="ti-pencil"></i></a>
                            </div>
                            <div class="card-body">
                                <div class="profile-card-body">
                                    <div class="row">
                                        <div class="col-sm-3 col-3">
                                            <div class="left-info text-right">
                                                <p>PIN</p>
                                                <p>2F Verification</p>
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-9">
                                            <div class="right-info">
                                                <p>****</p>
                                                
                                                <p><i class="ti-control-stop cl-red"></i> Off</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                        

                    {% comment %} <div class="card mb-30">
                        <div class="card-header">
                            Email Info<a href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit Email info"><i class="ti-pencil"></i></a>
                        </div>
                        <div class="card-body">
                            <div class="profile-card-body">
                                <div class="row">
                                    <div class="col-sm-3 col-3">
                                        <div class="left-info text-right">
                                            <p>Primary Email</p>
                                            <p>Secondary Email</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 col-9">
                                        <div class="right-info">
                                            <p>clarkmc@outlook.com</p>
                                            <p>loveforguys@outlook.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    
                </div>
            </div>
        </div>
    </section><!--Dashboard Bottom-->

    <!-- Transaction Details Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content" id="user_id">
                
            </div>
        </div><!-- /Transaction Details Modal -->
    </div>




    {% endblock %}