{% extends 'nav.html' %}
{% load static %}
{% load humanize %}



{% block content %}




 {% include 'account/includes/details.html' %}

    <!--Dashboard Bottom-->  
    <section class="section-padding-sm-2 blue-bg-2">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-xl-9 col-lg-9 col-md-12 mb-20">
                    <div class="transaction-list table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Receiver - Type</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Status</th>
                                <th scope="col">Trans. Type</th>
                            </tr>
                            </thead>
                            <tbody>
                                
                                {% for transaction in page_obj %}
                                    <tr data-toggle="modal" data-target="#exampleModalCenter"
                                    hx-get="{% url 'transaction_detail' transaction.id %}"
                                    hx-trigger="click"
                                    hx-target="#trans_id"
                                    >
                                        <td><span>{{transaction.created | date:"d M, Y"}}</span></td>
                                        <td><strong>{{transaction.receiver.get_full_name}}</strong> <span>- {{transaction.transaction_type}}</span></td>
                                        <td><strong>N{{transaction.amount | intcomma}}</strong></td>
                                            
                                            {% if transaction.transaction_status == 'Success' %}
                                                <td class="cl-primary"><i class="ti-check cl-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Finished"></i> Success</td>

                                            {% elif transaction.transaction_status == 'Approved' %}
                                                <td><i class="ti-cup cl-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Finished"></i> Approved</td>

                                            {% elif transaction.transaction_status == 'Cancelled' %}
                                                <td class="cl-red"><i class="ti-close cl-red" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancelled"></i> Cancelled</td>
                                                
                                            {% else %}
                                                <td class="cl-yellow"><i class="ti-flag-alt cl-yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Processing"></i> Pending </td>
                                            {% endif %}
                                                
                                        <td><strong class="cl-primary">{{transaction.transaction_type}}</strong></td>
                                    </tr>
                                {% endfor %}
                                    
                        
                            </tbody>
                        </table>
                        <div class="mt-20">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                                        </li>
                                    {% endif %}

                                    
                                    {% for page in page_obj.paginator.page_range %}
                                    <li class="page-item 
                                    {% if page_obj.number == page %}
                                        active
                                    {% endif %}
                                        "><a class="page-link" href="{% url 'transactions' %}?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                                        
                                    {% endfor %}
                                        
                                    {% comment %} <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li> {% endcomment %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        <!-- Transaction Details Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content" id="trans_id">
                                
                            </div>
                        </div><!-- /Transaction Details Modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Dashboard Bottom-->

   
{% endblock %}