{% extends 'nav.html' %}
{% load static %}
{% load humanize %}



{% block content %}




 
{% include 'account/includes/details.html' %}

    <!--Dashboard Bottom-->  
    <section class="section-padding-sm-2 blue-bg-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-9 col-md-12 mb-20">
                    <div class="card">
                        <div class="card-header">
                            Place a Withdrawal
                        </div>
                        <div class="card-body">
                            <div class="site-form mb-30">
                                {% comment %} {% include 'message.html' %} {% endcomment %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="card-header mb-30">
                                                <p>Available Amount: <strong>N{{user.account.account_balance | intcomma}}</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-sm-12 mb-10">
                                            <label for="withdraw-amount">Withdraw Amount</label>
                                            <input type="text" autofocus name="amount" id="withdraw-amount" placeholder="Withdrawing Amount" required>
                                        </div>
                                        
                                        <div class="col-xl-6 col-lg-6 col-sm-12">
                                            <button type="submit" class="bttn-mid btn-fill">Withdraw money</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section><!--Dashboard Bottom-->

    
{% endblock %}